@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap");

.title-text {
  font-family: CHULALONGKORN;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  justify-content: center;
}
.item {
  width: 602px;
  height: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  border: 1px solid white;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  border-radius: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0px;
  margin-left: auto;
  margin-right: auto;
}
.leftCol {
  order: 1;
  flex: 0.5;
  padding-left: 96px;
  margin-right: 48px;
  font-family: Bai Jamjuree;
  font-size: 20px;
}

.rightCol {
  order: 2;
  flex: 1;
  font-family: Bai Jamjuree;
  font-size: 20px;
}

.tableRow {
  margin-bottom: 95px;
}

@media (max-width: 810px) {
  .item {
    width: 385px;
    height: 40px;
    line-height: 25px;
    font-weight: 400;
    border-radius: 12px;
  }

  .leftCol {
    order: 1;
    flex: 0.5;
    padding-left: 50px;
    margin-right: 24px;
    font-size: 13px;
  }

  .rightCol {
    order: 2;
    flex: 1;
    font-size: 13px;
  }

  /* .title-text {
    font-family: CHULALONGKORN;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 72px;

    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
  } */
}

@media (max-width: 450px) {
  .item {
    width: 290px;
    height: 35px;
    font-size: 11px;
    line-height: 25px;
  }

  .leftCol {
    order: 1;
    flex: 0.5;
    padding-left: 30px;
    margin-right: 24px;
    font-size: 11px;
  }

  .rightCol {
    order: 2;
    flex: 1;
    font-size: 11px;
  }

  .title-text {
    font-family: CHULALONGKORN;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;

    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
  }
}

.after{
  background: rgba(255, 255, 255, 0.2);
  color:#ffffff;
}
.before{
  background: rgba(170, 170, 170, 0.1);
  color:#aaaaaa;
}
.highlight-item {
  background: rgba(255, 255, 255, 0.4);
  color:#ffffff;
}