@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap");

.title-text {
  font-family: CHULALONGKORN;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  justify-content: center;
}
.item {
  width: 602px;
  height: 72px;
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  /* identical to box height */

  display: flex;
  align-items: center;

  color: #ffffff;

  background: linear-gradient(90.16deg, rgba(255, 255, 255, 0.4) 1.45%, rgba(255, 255, 255, 0.22) 100%);
  border: 1px solid white;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0px;
  margin-left: auto;
  margin-right: auto;
}
.leftCol {
  order: 1;
  flex: 0.5;
  padding-left: 96px;
  margin-right: 48px;
}

.rightCol {
  order: 2;
  flex: 1;
}

<<<<<<< Updated upstream
.tableRow {
  padding-bottom: 20%;
}
||||||| constructed merge base
.tableRow{
  justify-content: center;
  position: relative;
  padding-left: 50%;
  padding-right: 50%;
}
=======
.tableRow{
  justify-content: center;
  position: relative;
  padding-left: 50%;
  padding-right: 50%;
}
>>>>>>> Stashed changes
