@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');


.body{
    background: linear-gradient(180deg, #9B2C33 0%, #E56D77 100%);
    position : absolute;
    width : 1440px;
    height : 1102px;
}

.form{
    position : absolute;
    align-items: center;
    width : 1203px;
    height: 651.37;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    margin : 90px 120px 30px 120px;
}

#header{
    text-align: center;
    margin : 20px 285px;
    height : 25.49px;

    /* TH/H4 */

    font-family: CHULALONGKORN;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}

input:invalid ~ span{
    display : block;
}

#option{
    background-color :#9B2C33;
}

@media (min-width : 600px){
    .collapsible{
        display: none;
    }
    
}
@media (max-width : 600px) {
    .body{
        background: linear-gradient(180deg, #9B2C33 0%, #E56D77 100%);
        position : absolute;
        width : 390px;
        height : 1237px;
    }
    .form{
        position : absolute;
        align-items: center;
        width : 342px;
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(50px);
        border-radius: 18px;
        margin : 50px 24px;
    }
    
    #header{
        display :none;
    }  
       
    input:invalid ~ span{
        display : block;
    }
    .conpc{
        display: none;
    }
    .collapsed-icon{
        color : white;
        height : 24px;
        width : 24px;
        align-items: flex;
        margin : 10px 130px;
        vertical-align: middle;
    }

    #option{
        background-color :#9B2C33;
    }
}
