@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");

.qualification-container {
  margin-bottom: 70px;
}

.qualifications-header {
  font-family: CHULALONGKORN;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;

  align-items: center;
  text-align: center;

  color: #ffffff;

  margin-bottom: 34px;
}

.qualification-box {
  display: flex;
  margin-bottom: 50px;
}

.index-with-bg {
  order: 0;
  flex: 1;
  text-align: right;
  justify-self: right;
  justify-content: right;
  padding-right: 50px;
}

.qualification-text {
  order: 1;
  flex: 1.5;
  flex-wrap: wrap;
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  text-align: left;
  color: #ffffff;
  padding-right: 25vw;
  padding-top: 5px;
}

.index-num {
  height: 50px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  line-height: 50px;

  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  align-items: center;
  text-align: center;
  color: rgb(188, 70, 70);

  margin-left: auto;
}

@media (max-width: 700px) {
  .qualification-box {
    display: flex;
    margin-bottom: 35px;
  }
  .qualification-text {
    order: 1;
    flex: 3;
    flex-wrap: wrap;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    color: #ffffff;
    padding-right: 15vw;
    padding-top: 2px;
  }
  .index-with-bg {
    order: 0;
    flex: 1;
    text-align: right;
    justify-self: right;
    justify-content: right;
    padding-right: 35px;
  }
  .index-num {
    height: 35px;
    width: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    line-height: 35px;

    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: rgb(188, 70, 70);

    margin-left: auto;
  }
}

/*For mobile 450px */
@media (max-width: 450px) {
  .qualifications-header {
    font-family: CHULALONGKORN;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }

  .qualification-container {
    margin-bottom: 70px;
  }

  .qualification-box {
    display: flex;
    margin-bottom: 25px;
  }

  .index-with-bg {
    order: 0;
    flex: 1;
    text-align: right;
    justify-self: right;
    justify-content: right;
    padding-right: 20px;
  }

  .qualification-text {
    order: 1;
    flex: 4;
    flex-wrap: wrap;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
    padding-right: 6vw;
    padding-top: 0px;
  }

  .index-num {
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    line-height: 25px;

    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: rgb(188, 70, 70);

    margin-left: auto;
  }
}
