.editContainer{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.backIcon{
    position: absolute;
    left: 69px;
}

.personalProfile{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: white;
    align-items: center;
    text-align: center;
    margin-top: 75px;
}

.editPicture{
    width: 120px;
    height: 120px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -70px;
}


.editForm{
    background: linear-gradient(90.16deg, rgba(255, 255, 255, 0.4) 1.45%, rgba(255, 255, 255, 0.15) 100%);
    color: white;
    width: 1040px;
    height: 440px;
    border-radius: 15px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    text-align: center;
}

.cancelButton{
    margin-right: 50px;
}

@media (max-width : 390px) {
    .editForm{
        width: auto;
        height: 910px;
        margin: 32px;
    }
    .personalProfile{
        font-size: 20px;
    }

    .editPicture{
        margin-bottom: -90px;
    }

    .backIcon{
        width: 18px;
        left: 30px;
    }
    


}