@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Kanit:wght@100&display=swap');

.profilePage{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar{
    width: 100%;
}

.personal{
    margin-top: 63px;
    margin-bottom: 40px;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 42px;
    color: white;
}

.picture{
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -60px;
}

.formInfo{
    background: linear-gradient(90.16deg, rgba(255, 255, 255, 0.4) 1.45%, rgba(255, 255, 255, 0.15) 100%);
    color: white;
    width: 1040px;
    height: 414px;
    border-radius: 15px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    text-align: center;
}

.formRow{
    margin-top: 20px;
}

.formComponent{
    display: inline;
    margin-right: 20px;
}

.formLabel{
    font-family: 'Bai Jamjuree', sans-serif;
    margin-right: 16px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
}

.formInput{
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 17.5px;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.formInput::placeholder{
    color: white;
}

.formSelect{
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 17.5px;
    border-radius: 5px;
    height: 30px;
    padding-left: 13px;
    background-color: rgba(255, 255, 255, 0.3);
}

.formSelect option{
    color: black;
    font-family: 'Bai Jamjuree', sans-serif;
}

.formSelect:disabled{
    
}

.editProfileButton{
    margin: 0 auto;
}

.history{
    margin-top: 96px;
    margin-bottom: 40px;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 42px;
    color: white;
}