.topic-text2 {
  font-family: CHULALONGKORN;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;

  align-items: center;
  text-align: center;
  justify-content: center;

  color: #ffffff;

  margin-bottom: 50px;
}

/*For mobile 450px */
@media (max-width: 450px) {
  .topic-text2 {
    font-size: 28px;
    line-height: 42px;

    margin-top: 96px;
    margin-bottom: 35px;
  }
}
