@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;500&display=swap");

/* ------------------------------------------------ */

#border-navbar {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 17px;
}

#element {
  font-family: Noto Sans Thai;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

#profile{
  font-family: Noto Sans Thai;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

}

#picture {
  border-radius: 50%;
}

a.dropdown-item {
  font-family: Noto Sans Thai;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

hr {
  border-top: 2px solid white;
}

#picture {
  margin-left: 74px;
  background: #c4c4c4;
}

hr {
  margin-right: 20px;
  margin-left: 20px;
  border-top: 2px solid #ffffff;
  color: #ffffff;
}

.border-drop {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 17px;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 9999;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
.collapse:not(.show) {
  display: none;
}
.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.container-fluid {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-expand-lg .navbar-toggler {
  display: none;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
}

.border-bottom{
  border-bottom: 1px solid #ffffff;
}



@media (max-width: 995px) {
  a#element {
    margin-top: 22px;
    margin-bottom: 22px;
    justify-content: center;
  }

  a#profile {
    display: block;
  }

  .navbar-expand-lg .navbar-toggler {
    display: block;
  }

  .navbar-expand-lg .navbar-collapse {
    display: none !important;
    flex-basis: auto;
  }


}
.me-auto {
  margin-right: auto !important;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.me-4{
  margin-right: 30px !important;
}

.me-2{
  margin-right: 8px !important;
}

a.center{
  justify-content: center;
  padding-top: 3px;
}

/* toggle button */


.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 17px;
}


.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
