.landing-background {
  max-width: 100%;
  /* background: linear-gradient(175.22deg, #8a202b -4.38%, #a43344 34.51%, #ac394c 66.36%, #8a202b 116.67%); */
  background: rgba(138, 32, 43, 0.7);
  background-image: url("../../assets/images/landingBackground.svg");
  background-size: cover;
  background-repeat: repeat;
}

.top-landing-background {
  background-image: url("https://drive.google.com/uc?export=view&id=1OIEpdjHOkinCRCbwzT6smlkWRhAcijrT");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 550px;
  background-size: cover;
}

.top-landing-white-bg {
  background-color: white;
  height: 250px;
}

.landing-apply-button {
  transform: translate(0, -30px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.roo-juk-kai-text {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  text-align: center;
  align-items: center;
  color: #b32f4e;

  margin-top: 40px;
}

.icon-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.star-icon {
  width: 36px;
  height: 36px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

/*For mobile 450px */
@media (max-width: 450px) {
  .roo-juk-kai-text {
    font-size: 16px;
    line-height: 17px;
  }
}
