.landing-background {
  max-width: 100%;
  background: linear-gradient(
    180.44deg,
    rgba(188, 70, 70, 0.5) 4.66%,
    rgba(188, 70, 70, 0.5) 4.67%,
    rgba(198, 75, 97, 0.5) 39.68%,
    rgba(188, 70, 70, 0.5) 77.48%
  );
}

.top-landing-background {
  background-image: url("../../assets/images/landingPage-top-pic.png");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 550px;
  background-size: cover;
}

.top-landing-white-bg {
  background-color: white;
  height: 250px;
}

.landing-apply-button {
  transform: translate(0, -30px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.roo-juk-kai-text {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  text-align: center;
  align-items: center;
  color: #b32f4e;

  margin-top: 40px;
}

.icon-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/*For mobile 450px */
@media (max-width: 450px) {
  .roo-juk-kai-text {
    font-size: 16px;
    line-height: 17px;
  }
}
