.top-landing-container {
  height: 800px;
  background-color: white;
}

.landing-background {
  max-width: 100%;
  background: linear-gradient(180deg, #9b2c33 0%, #e56d77 100%);
}

.top-landing-background {
  background-image: url("../../assets/images/landingPage-top-pic.png");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 800px;
  display: flex;
  justify-content: center;
}

.roo-juk-kai-text {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  text-align: center;
  align-items: center;
  color: #b32f4e;

  margin-top: 50px;
}

.blocking-container {
  margin-top: 36%;
  /* justify-content: center;
  text-align: center;
  align-items: center; */
}

.icon-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
