@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");

#about-landingPage-content {
  margin-bottom: 95px;
}

.topic-text {
  font-family: CHULALONGKORN;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;

  align-items: center;
  text-align: center;
  justify-content: center;

  color: #ffffff;

  padding-top: 120px;
  margin-bottom: 30px;
}

.about-text {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;

  text-align: center;

  color: #ffffff;

  padding-left: 27vw;
  padding-right: 27vw;
}

/*For mobile 450px */
@media (max-width: 450px) {
  .topic-text {
    font-size: 28px;
    line-height: 42px;

    padding-top: 96px;
    margin-bottom: 15px;
  }
  .about-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    padding-left: 56px;
    padding-right: 56px;
    text-align: left;
  }
}
