.pdf-view > object,
.pdf-view > object > iframe {
  width: 100%;
  height: 800px;
}

@media only screen and (max-width: 768px) {
  .pdf-view > object,
  .pdf-view > object > iframe {
    height: 450px;
  }
}
