name: '[PRODUCTION] Pull request: Build test'

on:
  pull_request:
    branches: [master]

env:
  DEPLOYMENT_NAME: ${{ github.event.repository.name }}

jobs:
  docker-build:
    name: 'Docker build and create an image'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build Docker image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: ${{ format('fecamp-2021/{0}:latest', env.DEPLOYMENT_NAME) }}
